@import "../../main/styles/style";

body {
// & header.navigation {
  
//  width: 100vw;
//  height: 80px;

//  @media (min-width: 1600px) {
  //  padding: 0;
//  }
// }

aside.hero-banner {
  height: 470px;
  background-image: url(../../../assets/images/panda_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.donate-section {
  // width: 100vw;
  background-image: linear-gradient(#febdab, #febdab, #fed290 74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 220px 180px 220px;

  .donate-section-text {
    color: #ffff;

    h3.donate-header {
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase;
      white-space: nowrap;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 45px;
      line-height: 22.4px;
    }

    h3.orange-header {
      font-size: 36px;
      font-weight: 400;
      color: $orange;
      margin-bottom: 65px;
      line-height: 46.8px;
    }
  }

  .salomon-square {
    width: 1160px;
    height: 964px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 43px 99px 60px 99px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2.orange-header {
      font-size: 48px;
      color: $orange;
      text-align: center;
      font-weight: 400;
    }
    span.lead {
      font-size: 24px;
      font-weight: 400;
      color: #333b41;
      align-self: flex-start;
      margin-top: 20px;
    }
    div.panda-diet {
      display: flex;
      gap: 90px;
      margin-top: 60px;
      margin-bottom: 48px;

      .amount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        strong {
          font-size: 70px;
          text-align: center;
          margin-top: 30px;
        }
        img.x-icon {
          width: 14px;
          height: 14px;
          position: absolute;
          top: 50%;
          right: -20px;
          margin-left: 50px;
        }

        span {
          color: #333b41;
          font-size: 16px;
          line-height: 22.4px;
        }
      }

      .panda {
        & img {
          width: 284px;
          height: 246px;
        }
      }
    }
    form {
      padding-left: 10px;

      legend {
        margin-bottom: 10px;
      }
      fieldset.donation-radio {
        width: 976px;
        height: 40px;
        padding: 8px 30px 9px 26px;
        background-color: $black_blue;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wrapper {
          height: 90px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 20px;

          label {
            display: block;
            text-align: center;
            font-size: 22px;
          }

          input[type="radio"] {
            appearance: none;
            width: 16px;
            height: 16px;
            background-color: $yellow;
            border-radius: 50%;
            padding: 2px;
            margin-top: 25px;
            cursor: pointer;
            transition: all 0.2s linear;

            &:checked {
              outline-offset: 6px;
              outline: 2px solid $orange;
            }
            &:checked + label {
              color: $orange;
            }
          }
        }
      }

      span.dollar-icon {
        position: relative;

        &::after {
          content: url("../../../assets/icons/dollar.png");
          right: 0;
          position: absolute;
          top: 63%;
          right: 10px;
          width: 10px;
          height: 20px;
        }
        input[type="number"] {
          width: 268px;
          height: 54px;
          padding: 16px;
          border: 2px solid #929699;
          border-radius: 4px;
          background-color: transparent;
          margin-top: 90px;
          margin-bottom: 25px;
          position: relative;
          appearance: textfield;
          /* Firefox */
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            appearance: none;
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      fieldset {
        border: 0;
        display: flex;
        justify-content: center;
        gap: 50px;

        input.custom-radio {
          appearance: none;
          width: 16px;
          height: 16px;
          border: 1px solid $orange;
          background-color: transparent;
          border-radius: 50%;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.2s linear;

          &:checked {
            background-color: $orange;
          }
        }
      }
    }
    button {
      @extend .orange-button;
      margin: 30px 0;
      span {
        font-size: 16px;
      }
    }
    span {
      font-size: 16px;
      font-weight: 400;
      display: block;
    }
  }
 }

 footer {
  div.footer-wrapper {
    div.first-column {
      a.donate-link {
        text-align: center;
        }
        a {
          text-align: center;
       
        div.footer-logo {
          & h5 {
            font-size: 1.1875rem;
            span {
              position: relative;
              &::before {
                position: absolute;
                content: url("../../../assets/icons/bamboo.svg");
                bottom: -1px;
                left: -5px;          
              }
            }
          }
        }
       }
      }
    }
  }
 }
